exp.py
exp.glade
exp.glade~
netSidepane.glade~ 
disk.glade~
taskManager.glade~
taskManger.py
taskmanager.spec
netSidepane.glade~
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#glade autosaved
glade_files/*.glade\~

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
.deb-build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
gschemas.compiled

.vscode/
.buildconfig
