include AUTHORS
include LICENSE
include README.md
include z-mon.desktop
recursive-include glade_files *.glade
recursive-include z_mon *
recursive-include icons *.png
prune z_mon/__pycache__
global-exclude __pycache__
global-exclude *.py[cod]
